<%= form_for @movie, html: { multipart: true } do |f| %>
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, 'error') %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='input-field col s12'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
      <%= f.label :release_date %>
      <%= f.text_field :release_date %>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
      <%= f.label :director %>
      <%= f.text_field :director %>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
      <%= f.label :runtime_in_minutes %>
      <%= f.text_field :runtime_in_minutes %>
    </div>
  </div>

  <div class='row'>
    <div class='file-field input-field col s12'>
      <div class="btn">
        <span>File</span>
        <%= f.file_field :poster_image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text" placeholder='Upload movie poster image'>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  </div>

  <div class='row'>
    <div class='col s12'>
      <%= f.submit 'Submit', class: 'btn waves-effect waves-light' %>
    </div>
  </div>
<% end %>