<div class="movie-card col s12 m4 l3">
  <div class='image image-full'>
    <%= image_tag(movie.poster_image.large) %>
  </div>
  <div class='movie-card-info'>
    <span class='movie-card-title'><%= movie.title %></span><br>
    <span>Directed by <%= movie.director %></span><br>
    <span><%= movie.runtime_in_minutes %> minutes | <%= movie.review_average %>/10</span><br>
    <%= link_to 'Details', movie_path(movie) %>
  </div>
</div>