<% if @user.errors.any? %>
<div>
  <%= pluralize(@user.errors.count, 'error') %> prevented the account from being created:
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class='row'>
  <div class='input-field col s12'>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
</div>
<div class='row'>
  <div class='input-field col s12'>
    <%= f.label :firstname, 'First Name' %>
    <%= f.text_field :firstname %>
  </div>
</div>
<div class='row'>
  <div class='input-field col s12'>
    <%= f.label :lastname, 'Last Name' %>
    <%= f.text_field :lastname %>
  </div>
</div>
<div class='row'>
  <div class='input-field col s12'>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
</div>
<div class='row'>
  <div class='input-field col s12'>
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </div>
</div>
<% if current_user && current_user.admin %>
<div class='row'>
  <div class='input-field col s12'>
    <%= f.label :admin, 'Make admin' %>
    <%= f.check_box :admin %>
  </div>
</div>
<% end %>
<div class='row'>
  <div class='col s12'>
    <%= f.submit 'Submit', class: 'btn waves-effect waves-light' %>
  </div>
</div>
