<div class='container'>
 <div class'row'>
   <div class='col s12'>

    <h4>Users in Rotten Mangoes</h4>

    <div class='section'>
      <%= link_to 'Create User', new_admin_user_path, class: 'btn waves-effect waves-light waves-input-wrapper' %>
    </div>

    <table class='responsive-table highlight'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Admin</th>
          <th class='table-delete-col'>Remove Account</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td>
            <%= link_to edit_admin_user_path(user) do%>
              <i class="material-icons">mode_edit</i>
              <span><%= user.full_name %></span>
            <% end %>
          </td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td class='table-delete-col'>
            <%= form_for [:admin, user], method: :delete do |f| %>
              <button type='submit' class='waves-effect waves-light delete-user btn'>
                <i class='material-icons'>delete_forever</i>
              </button>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class='divider'></div>
    <%= paginate @users %>

    </div>
  </div>
</div>