<header>

  <ul id="main-menu-dropdown" class="dropdown-content">
    <%= render '/layouts/log_in_sign_up' %>
    <li><%= link_to 'Submit movie', new_movie_path %></li>
    <%= render '/layouts/manage_users' %>
    <%= render '/layouts/log_out'%>
  </ul>

  <nav>
    <div class='container'>
      <div class="nav-wrapper">
        <%= link_to 'RM', root_path, class: 'brand-logo' %>
        <ul class="right">
          <li><a class="dropdown-button" data-beloworigin="true" data-constrainwidth="false" href="#!" data-activates="main-menu-dropdown">Menu<i class="material-icons right">menu</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>